
body {
	background-color: #F8F8F8;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.2em;
	margin: auto 15px;
	text-align: center;
}

h1, p {
	text-align: center;
  	color: #333;
}

#gamegui {
	margin: auto;
	height: 40px;
	width: 1024px;
	background-color: #000;
	border: 3px solid #ccc;
}

#gamegui td {
	border: 1px solid #ccc;
	font-size: large;
}

#gamegui #health {
	color: red;
	width: 200px;
}

#gamegui #level {
	color: white;
	width: 724px;
}

#gamegui #ammo {
	color: green;
	width: 150px;
}

#gamegui #score {
	color: white;
	width: 150px;
}

.button {
	cursor: pointer;
	font-size: 2rem;
	text-decoration: none;
	color: #333;
	background: #ccc;
	border: 3px solid #ccc;
	border-radius: 5px;
}

.hidden {
	display: none;
}

.disabled {
	color: #999 !important;
}